<div class="row">
    <div [ngClass]="{'col-md-4': valorFiltro !== '', 'col-md-3': valorFiltro === ''}" *ngFor="let producto of productos | search: valorFiltro | filter: [valorDesde, valorHasta, valorCateg] | paginate: { itemsPerPage: 12, currentPage: p }">
        <app-product-item [producto] = "producto"></app-product-item>
    </div>
</div>
<div *ngIf="productos">
    <div class="row justify-content-center">
        <pagination-controls (pageChange)="p = $event" responsive="true" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
    </div>
</div>