<div class="d-flex flex-row shadow p-3 mb-5 bg-white rounded">
    <div class="card col-md-8 p-2">
        <img class="bd-placeholder-img card-img-top mx-auto d-block imagen"
        src="http://joblinefree.com/Archivos/{{producto.fotoArt}}" alt="Producto">
        <hr>
        <div class="card-body">
            <h2>Descripción</h2>
            <p class="detalle">
                {{producto.detalle}}
            </p>
        </div>
    </div>
    <div class="card col-md-4 p-2">
        <div class="texto-card">
            <h1>{{producto.nombre}}</h1>
            <br><br>
            <span class="display-4">{{ producto.precioSu | currency:"$":'symbol':'3.0' }}</span><br>
            <span class="text-muted" *ngIf="producto.stock > 0; else elseBlock">Unidades disponibles</span>
            <ng-template #elseBlock>
                <span class="text-muted">Sin unidades disponibles</span>
            </ng-template>
            <br><br>
            <div class="form-inline">
                <span class="lead">Cantidad: </span>
                <select class="custom-select my-1 mr-sm-2" [(ngModel)]="cantidad">
                    <option *ngFor="let elemento of elementos" [value]="elemento">{{elemento}}</option>
                </select>
                <span class="text-muted size-2" *ngIf="producto.stock > 1; else elseBlock2">({{producto.stock}} disponibles)</span>
                <ng-template #elseBlock2>
                    <span class="text-muted size-2">({{producto.stock}} disponible)</span>
                </ng-template>
            </div>
            <br><br>
            <button class="btn btn-primary btn-block btn-lg" (click)="handleAddToCart()">Agregar al carrito</button>
        </div>
    </div>
</div>