<div class="card mb-4 hvr-glow">
    <img class="bd-placeholder-img card-img-top imagen" width="100%"
        src="http://joblinefree.com/Archivos/{{producto.fotoArt}}" alt="Producto">

    <div class="card-body">
        <p class="card-text">
            <strong class="h4">{{ producto.precioSu | currency:"$":'symbol':'3.0' }}</strong>
        </p>
        <p class="card-text muted">
            {{ producto.nombre.length > 40 ? (producto.nombre | slice:0:40) + '...':(producto.nombre) }}</p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-primary btn-product negro" (click)="handleAddToCart()">Añadir al carrito</button>
                <button type="button" class="btn btn-sm btn-outline-secondary btn-product" routerLink="/producto" (click)="cargarProducto(producto)">Detalles</button>
            </div>
        </div>
    </div>
</div>