<a href="#" (mouseover)="over='block'" (mouseout)="over='none'">
    <div class="card mb-4 hvr-glow">
        <img class="bd-placeholder-img card-img-top imagen" width="100%" src="http://joblinefree.com/Archivos/{{producto.fotoArt}}" alt="Producto">
        
        <div class="card-body">
            <p class="card-text">
                <strong class="h4">{{ producto.precio | currency:"$" }}</strong>
            </p>                                            
            <p class="card-text muted" [style.display]="over">{{ producto.nombre.length > 40 ? (producto.nombre | slice:0:40) + '...':(producto.nombre) }}</p>
            <!-- <p class="card-text" [style.display]="over">{{producto.detalle}}</p> -->
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary btn-product negro">Añadir al carrito</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary btn-product">Detalles</button>
                </div>
            </div>
        </div>
    </div>
</a>
