<app-nav *ngIf="cargar else loading"></app-nav>
<app-carousel *ngIf="cargar"></app-carousel>

<ng-template #loading>
  <div class="h-100 fondo-inicio">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col">
        <div class="row justify-content-center">
          <img src="../assets/img/nav/logo-white.png" alt="JobLineF" class="logo">
        </div>
        <div class="row justify-content-center">
          <button (click)="ingresar()" class="btn btn-outline-light btn-ovalado btn-lg">Ingresar</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<div class="row">
  <div class="imsocial">
    <a href="https://www.facebook.com/joblinef" target="_blank">
      <fa-icon [icon]="faFacebookF" size="2x" class="fa-shadow"></fa-icon>
    </a>
    <a href="" target="_blank">
      <fa-icon [icon]="faInstagram" size="2x"></fa-icon>
    </a>
    <a href="" target="_blank">
      <fa-icon [icon]="faYoutube" size="2x"></fa-icon>
    </a>
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col">
        <router-outlet></router-outlet>
      </div>
  </div>
</div>
<app-footer *ngIf="cargar"></app-footer>

