/* .header {
    padding-bottom: 10px;
} */

.primary {
    background-color: rgb(199, 58, 63);
}

.logo {
    width: 130px;
    height: 30px;
}

.form-control {
    color: #333;
    border: 2px solid #FFF;
    -webkit-box-shadow: none;
    box-shadow: none;
    max-height: 40px;
    min-height:40px;
    height: auto;
    border-radius: 50px 0  0 50px !important;
}

.form-control :focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: transparent;
}

.searchbtn
{
    border:0;
    color: #fff;
    background:#C93A3F;
    font-weight: 500;
    border: 2px solid #FFF;
    border-left: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    max-height: 40px;
    min-height:40px;
    height: auto;
    border-radius: 0 50px 50px 0 !important;
}

.nav-link {
  color: #FFF !important;
}

.rounded-circle {
    margin-left: 10px;
    max-width: 30px;
    border: 2px solid #FFF;
}

@media (max-width: 800px) {
    .form-control {
        width: 80%;
    }
    .searchbtn {
        width: 20%;
    }
}
