<owl-carousel-o [options]="customOptions" class="carrusel">
    <ng-template carouselSlide>
        <img src="../../../../assets/img/carousel/car_1.jpg" alt="" class="img-carousel">
    </ng-template>
    <ng-template carouselSlide>
        <img src="../../../../assets/img/carousel/car_2.jpg" alt="" class="img-carousel">
    </ng-template>  
    <ng-template carouselSlide>
        <img src="../../../../assets/img/carousel/car_3.jpg" alt="" class="img-carousel">
    </ng-template>
</owl-carousel-o>