/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #F3F1F0;
}

.filtros {
    font-size: small;
}

.btn-product {
    font-size: smaller;
}

.hvr-glow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
  }
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.negro {
    background-color: black;
}

.btn-principal
{
    background-color: #C93A3F;
    border-color: #C93A3F;;
}

.imsocial {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 20px;
    z-index: 99;
    box-sizing: border-box;
    color: white;
}

.imsocial a {
    color: white;
    text-align: center;
    display: block;
    margin: 15px 0;
    filter: drop-shadow(1px 1px 3px #5a5353);
}
div.row{
    margin-right: 0px;
 }
 
 div.container-fluid{
    padding-right: 0px;
 }