<footer>
    <div>
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <h1 class="titulo">Descarga la App</h1>
                    <br>
                    <a href="https://play.google.com/store?hl=es_CO"  class="btn btn-primary text-white btn-title rounded-pill px-4 btn-principal" target="_blank">JobLineFree</a>
                    <br><br><br><br>
                </div>
            </div>
            <div class="container">
                <div class="row columnas-footer">
                    <div class="col-sm-12 col-md-7 col-lg-8 address">
                        <div class="d-flex align-items-center">
                            <div class="mr-3 d-none d-md-block">
                                <img src="../../../../assets/img/nav/logo-white.png" class="img-fluid logo" alt="logo imagina">
                            </div>
                            <div>
                                <p>
                                    Líneas móviles: 
                                    <a href="tel:3203334245">
                                        <b>320 333 4245</b>
                                    </a> 
                                    - 
                                    <a href="tel:3134339988" style="margin-right: 20px;">
                                        <b>313 433 9988</b>
                                    </a>
                                </p>
                                <ul class="nav nav-pills">
                                    <li><a href="tel:+573203334245">Ibagué: <b>+57 320 333 4245</b></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-5 col-lg-4 text-center news">
                        <h3>• Recibe todas las Novedades •</h3>
                        <button (click)="abrirModal()" class="btn btn-primary text-white rounded-pill px-4 negro">Click aquí</button>
                    </div>

                </div>
            </div>
        </div>

    </div>
    
    <hr>
    <div class="footer-pie">
        <div class="container">
            <p>Copyright &copy; 2020 JobLine. &middot; <a routerLink="/privacidad">Privacidad</a> &middot; <a routerLink="#">Terminos y condiciones</a></p>
        </div>
    </div>

</footer>
